*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgb(35, 26, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(233, 212, 247);
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

.navitem {
    margin-left: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left{
    padding: 20px;
    padding-top: 50px;
    width: 30%;
    background-color: rgb(214, 211, 248);
}

.right{
    padding: 10px;
    padding-top: 50px;
    width: 70%;
    justify-items: center;
    background-color: rgba(244, 206, 249);
}

input{
    padding: 3px;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
}
label{
    font-size: 20px;
    margin-right: 5px;
}

#addItem{
    padding: 8px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
}

#addItem:hover{
    background-color: #45a049;
}

#highlabel{
    color: red;
}
#midlabel{
    color: rgb(255, 153, 0);
}
#lowlabel{
    color: green;
}

.delete-btn{
    margin-left: 15px;
    background-color: rgb(247, 66, 66);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: red;
}

ul{
    font-size: 20px;
    list-style-type:square;
    align-items: center;
}

a{
    text-decoration: inherit;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}

li[data-priority='high'] span{
    color: red;
    text-transform: uppercase;
    
}

li[data-priority='mid'] span{
    color: rgb(255, 153, 0);
    text-transform: uppercase;
}

li[data-priority='low'] span{
    text-transform: uppercase;
    color: green;
}


footer{
    padding: 18px;
    background-color: rgb(185, 122, 243);
    display: flex;
    flex-direction: column;
}

footer p{
    text-align: center;
    margin-bottom: 5px;
}