*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navitem {
    margin-left: 20px;
}
.container{
    display: flex;
    flex-direction: row;
}

h1{
    text-align: center;
    color: rgb(88, 46, 243);
}
.left{
    padding: 20px;
    width: 30%;
    background-color: rgb(214, 211, 248);
}

.right{
    padding: 10px;
    width: 70%;
    justify-items: center;
    background-color: rgba(238, 186, 245, 0.5);
}

label, #addItem, input{
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    flex-direction: column;
}

#highlabel{
    color: red;
}
#midlabel{
    color: rgb(255, 153, 0);
}
#lowlabel{
    color: green;
}

ul{
    font-size: 20px;
    list-style-type:square;
    color: blueviolet;
    align-items: center;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.high{
    color: red;
}

.mid{
    color: rgb(255, 153, 0);
}

.low{
    color: green;
}


footer{
    padding: 18px;
    background-color: rgb(185, 122, 243);
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

footer a{
    color: rgb(53, 0, 102);    
}